body {
    background: url(../images/ac.jpg);
}

div {
    text-align: center;
}

div.grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

div.square {
    border: solid 2px;
    background: url(../images/back_mantel.jpg);
    width: 150px;
    height: 150px;
}

div.square-B {
    display: flex;
    align-items: center;
    border: solid 2px;
    width: 150px;
    height: 150px;
    justify-content: center;
}

div.square-B-bg {
    background: url(../images/back_mantel.jpg);
    width: 120px;
    height: 120px;
}

div.square-C {
    border: solid 2px;
    background: url(../images/back_mantel.jpg);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.square-D {
    display: flex;
    background-color: white;
    align-items: center;
    border: solid 2px;
    width: 150px;
    height: 150px;
    justify-content: center;
}

div.square-D-bg {
    background: url(../images/back_mantel.jpg);
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.square-E {
    border: solid 2px;
    background: url(../images/dh.jpg);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.square-F {
    display: flex;
    background-color: white;
    align-items: center;
    border: solid 2px;
    width: 150px;
    height: 150px;
    justify-content: center;
}

div.square-F-bg {
    background: url(../images/dh.jpg);
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.square-G {
    display: flex;
    background-color: white;
    align-items: center;
    border: solid 2px;
    width: 150px;
    height: 150px;
    justify-content: center;
}

div.square-G-bg {
    background: url(../images/dh_2.jpg);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.square-H {
    display: flex;
    background-color: white;
    align-items: center;
    border: solid 2px;
    width: 150px;
    height: 150px;
    justify-content: center;
}

div.square-H-bg {
    background: url(../images/dh_3.jpg);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.square-I {
    border: solid 2px;
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, rgba(189,255,110,1) 0%, rgba(31,61,6,1) 100%);
}

div.square-J {
    border: solid 2px;
    width: 150px;
    height: 150px;
    background: linear-gradient(0deg, rgba(231,144,144,1) 0%, rgba(133,46,17,1) 18%, rgba(133,46,17,1) 30%, rgba(255,255,255,1) 100%);
}

div.square-K {
    border: solid 2px;
    width: 150px;
    height: 150px;
    background: linear-gradient(0deg, rgba(49,196,46,1) 0%, rgba(255,255,255,1) 95%);    
}

div.square-L {
    border: solid 2px;
    width: 150px;
    height: 150px;
    background: linear-gradient(0deg, rgba(62,209,64,1) 0%, rgba(255,255,255,0) 100%);
}
